sales-data-integration/main/default/flows/Import_External_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Import leads from external system using API integration</description>
    <label>Import External Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
    </start>
    <status>Active</status>
    <actionCalls>
        <name>Call_External_API</name>
        <label>Call External API</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Parse_API_Response</targetReference>
        </connector>
        <actionName>ExternalService__External_Lead_Source_API</actionName>
        <actionType>externalService</actionType>
        <outputParameters>
            <assignToReference>apiResponse</assignToReference>
            <name>responseBody</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>Parse_API_Response</name>
        <label>Parse API Response</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
        <assignmentItems>
            <assignToReference>leadList</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>apiResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <loops>
        <name>Loop_Through_Leads</name>
        <label>Loop Through Leads</label>
        <locationX>176</locationX>
        <locationY>370</locationY>
        <collectionReference>leadList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Lead_Record</targetReference>
        </nextValueConnector>
    </loops>
    <recordCreates>
        <name>Create_Lead_Record</name>
        <label>Create Lead Record</label>
        <locationX>264</locationX>
        <locationY>488</locationY>
        <connector>
            <targetReference>Loop_Through_Leads</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Loop_Through_Leads.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Loop_Through_Leads.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <elementReference>Loop_Through_Leads.Company</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Loop_Through_Leads.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>External API</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <variables>
        <name>apiResponse</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>leadList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
