packages/SalesInsightsUI/main/default/flows/Set_Opportunity_Priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <description>Calls Apex from GlobalSalesCore package to calculate and set opportunity priority</description>
    <label>Set Opportunity Priority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <actionCalls>
        <name>Calculate_Priority</name>
        <label>Calculate Priority</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>OpportunityPriorityCalculator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Opportunity_Priority</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <recordUpdates>
        <name>Update_Opportunity_Priority</name>
        <label>Update Opportunity Priority</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>CalculatedPriority__c</field>
            <value>
                <elementReference>Calculate_Priority.priority</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Calculate_Priority</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
